{% extends 'base.html'%}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-4">
                <h2 class="text-center mb-4 text-primary">Create Roles</h2>
                
                <form method="POST" class="needs-validation" novalidate>
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label for="dept_name" class="form-label fw-bold">Role Name</label>
                        {{ form.role_name }}
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label fw-bold">Description</label>
                        {{ form.description }}
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success btn-lg">
                            <i class="bi bi-plus-circle"></i> Add Roles
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}